body{
background-color: #FFF;
}

header{
}

img{
width: 13em;
}

li{
margin-top: 4%;
margin-left:1%;
display:inline;
text-decoration:none;
}

li:hover{
text-decoration:none;
}

li a, li a:hover, li a:focus{
color: #FFF;
}

.menu_gauche{
display:inline;
background-image: url("../img/fond.jpg");
padding-bottom:20px;
padding-top:20px;
}


.menu_droit{
background-image: url("../img/fond.jpg");
padding-bottom:20px;
padding-top:20px;
color:#FFF;
display:inline;
}
